# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.coverage # coverage report


# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
.venv/
ENV/
*.egg-info/
dist/
build/
Lib
Scripts

# Flask specific
instance/
*.sqlite3

# Logs
*.log

# Unit test / coverage reports
htmlcov/
.coverage
.tox/
.nox/
.pytest_cache/

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# System files
.DS_Store
Thumbs.db

get-pip.py